/app/config/parameters.yml
/app/config/parameters.dir.yml
/app/config/parameters.auth.yml
/app/config/parameters.publish.yml
/app/config/parameters.request.yml
/app/config/black_list.person.yml
/app/config/black_list.description.yml
/app/config/crontab
/app/config/parser.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/tmp
/var/tmp/*
!var/tmp/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/*
