parameters:
    request.base_uri.tomita: 'http://localhost:3000'
    request.base_uri.notifier: 'http://localhost:8000'
    request.vk.wall.period: 10 minutes
    request.proxy: 'http://localhost:7979'
    request.timeout: 10
    request.connect_timeout: 5
    request.proxy_timeout: 10
    request.proxy_connect_timeout: 5