parameters:
    dir.tmp: '%kernel.root_dir%/../var/tmp'

    file.config.parser: '%kernel.root_dir%/config/parser.yml'
    file.black_list.person: '%kernel.root_dir%/config/black_list.person.yml'
    file.black_list.description: '%kernel.root_dir%/config/black_list.description.yml'
    file.fixtures.subway: '%kernel.root_dir%/../fixtures/subway.yml'