parameters:
    database_host: 127.0.0.1
    database_port: 27017
    database_name: rent-collector
    database_user: root
    database_password: null

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    secret: 93317234c99beb1ad90846f6d40cba22258eff91

    guzzle.timeout: 10
    guzzle.connect_timeout: 5

    assets.version: v1

    router.api.prefix: '/api/v1'
